body {
  background-color: rgb(88, 94, 95);
  text-align: center;
}
.calc {
  background-color: rgba(245, 245, 220, 0.815);
  width: 400px;
  padding: 10px;
  margin: auto;
}
.userbuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  margin: 2px;
  width: 90%;
  background-color: whitesmoke;
  border: none;
}
